<%-include('partials/website_tab_data.ejs')%>
<body>
  <%-include('partials/navbar.ejs')%>
  <%-include('scripts/submit_form.ejs')%>
  <style>
    .welcome-message {
      top: 16%;
      left: 50%;
      text-align: center;
    }
  </style>
  <div class="welcome-message">
    <h1>Welcome <%= username %>!</h1>
    <p>Are you wanting to train</p>
  </div>
  <style>
    .grid-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh
    }
  
    .grid-item {
      width: 25vw;
      height: 10vh;
      border: 1px solid black;
      padding-left: 4px;
      padding-right:4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      cursor: pointer;
    }
  </style>
  <div class="grid-container" id="hold_info"> 
    <% for (let i = 0; i < divs.length; i++) { %>
        <form method="post" action="/train" id = '<%=i%>'>
            <input type="hidden" name="exercise_focus" value="<%=divs[i][1]%>">  
        <div class="grid-item" onclick="submitForm( <%=i%> )" style="background-image: url('<%=divs[i][1]%>.png'); background-size: cover;background-position: center -50px;">
            <p style="text-align: center;"><b>
            <% if(i==0){%>
                Recommended<br>
            <%}%>
            <%= divs[i][1] %></b></p>
        </div>
        </form>
    <% } %>  
  </div>
  <div class="welcome-message" style="top: 50%;">
    <p>Would you like to revaluate your <a href="/evaluation">grades</a>?</p>
    <h1>or would you like to learn?</h1>
  </div>
  
  <div class="grid-container" style="height: 20vh;" >
    <form method="get" action="/learn" id="11">
    <input type="hidden" name="id" value="learn">
    <div class="grid-item" onclick="submitForm('11')">
        <p>Learn</p>
    </div>
    </form>
  </div>
<%-include('partials/foot.ejs')%>