<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Climbing Buddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
  <link rel="icon" href="/favicon.ico?" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>a{font-family: Arial, Helvetica, sans-serif;}</style>
    <style>body{background-color:grey; font: arial;color: white;}</style>
</head>
<body>
    <script>
        function submitForm(i){
            const Form=document.getElementById(i);
            Form.submit()
        }
    </script>
    <!-- nav bar stuff-->
  <nav class="navbar navbar-expand-lg navbar-light bg-gray">
    <a class="navbar-brand" href="/home">Climbing Buddy</a>
    <button class ="navbar-toggler" type ="button" data-toggle ="collapse" data-target ="#colNav">
    <span class ="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="colNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/learn">Lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/train">Training</a>
        </li>
      </ul>
    </div>
    <div class="ml-auto">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><a class="nav-link" href="/logout" style="color: black;"><b>Logout</b></a></button>
    </div>
    
  </nav>
  <style>
    .welcome-message {
      top: 16%;
      left: 50%;
      text-align: center;
    }
  </style>
  <div class="welcome-message">
    <h1>Welcome <%= username %>!</h1>
    <p>Are you wanting to train</p>
  </div>
  <style>
    .grid-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh
    }
  
    .grid-item {
      width: 25vw;
      height: 10vh;
      border: 1px solid black;
      padding-left: 4px;
      padding-right:4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      cursor: pointer;
    }
  </style>
  <div class="grid-container" id="hold_info"> 
    <% for (let i = 0; i < divs.length; i++) { %>
        <form method="post" action="/train" id = '<%=i%>'>
            <input type="hidden" name="exercise_focus" value="<%=divs[i][1]%>">  
        <div class="grid-item" onclick="submitForm( <%=i%> )" style="background-image: url('<%=divs[i][1]%>.png'); background-size: cover;background-position: center -50px;">
            <p style="text-align: center;"><b>
            <% if(i==0){%>
                Recommended<br>
            <%}%>
            <%= divs[i][1] %></b></p>
        </div>
        </form>
    <% } %>  
  </div>
  <div class="welcome-message" style="top: 50%;">
    <p>Would you like to revaluate your <a href="/evaluation">grades</a>?</p>
    <h1>or would you like to learn?</h1>
  </div>
  
  <div class="grid-container" style="height: 20vh;" >
    <form method="get" action="/learn" id="11">
    <input type="hidden" name="id" value="learn">
    <div class="grid-item" onclick="submitForm('11')">
        <p>Learn</p>
    </div>
    </form>
  </div>
  <div style="text-align:center;">
    <h1>TikTok</h1>
    <a href="https://www.tiktok.com/@noah.virus">
        <p>@noah.virus</p>
    </a>
</div>
  
  
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <div class="container" style="display: flex; flex-direction: column; min-height: 0vh;">
    <!-- Your existing code goes here -->
    
  </div>
</body>
</html>