<%-include('partials/website_tab_data.ejs')%>
<body>
  <%-include('partials/navbar.ejs')%>
  <%-include('css/styling_for_learn')-%>
<%-include('scripts/submit_form.ejs')%>
<div id="container">
  <div class="category">
    <h2>Foot Placement</h2>
    <% if(typeof placement !=="undefined" && placement.length != 0){%>
      <ul>
      <%for(let item of placement){%>
        <form id="<%=item.name%>" action="/get_lesson" method="post" style="display: inline;">
          <input type="hidden" name="id" value="<%=item.name%>">
          <li>
            <div class="item-box" onclick="submitForm('<%=item.name%>')" style="background-image: url('/workouts/<%=item.name%>.png'); background-size: cover;">
              <p class="item-title" value = "<%=item.name%>" id = "<%=item.name%>" name="<%=item.name%>"><%=item.name%></p>
            </div>
          </li>
        </form>
      <%}%>
    </ul>
  <%}else{%>
    <p>I'm sorry it looks like we couldn't produce any foot placement lessons.</p>
  <%}%>
  </div>
  <div class="category">
    <h2>Various Hooks</h2>
    <ul>
      <% if(typeof hooks !== "undefined" && hooks.length != 0){%>
        <ul>
          <%for(let item of hooks){%>
            <form id="<%=item.name%>" action="/get_lessons" method="post"  style="display: inline;">
              <input type="hidden" name="id" value="<%=item.name%>">
              <li>
                <div class="item-box" onclick="submitForm(<%=item.name%>)">
                  <img src="<%=item.img_location%>" alt="<%=item.name%>">
                  <p class="item-title" value = "<%=item.difficulty%>" id = "<%=item.name%>" name="<%=item.name%>"><%=item.name%></p>
                </div>
              </li>
            </form>
          <%}%>
        </ul>
      <%}else{%>
        <p>I'm sorry it looks like there arn't any lessons on hooks.</p>
      <%}%>
    </ul>
  </div>
  <div class="category">
    <h2>Special Moves</h2>
    <ul>
      <% if(typeof moves !== "undefined" && moves.length != 0){%>
        <ul>
          <%for(let item of moves){%>
            <form id="<%=item.name%>" action="/get_lessons" method="post"  style="display: inline;">
              <input type="hidden" name="id" value="<%=item.name%>">
              <li>
                <div class="item-box" onclick="submitForm(<%=item.name%>)">
                  <img src="<%=item.img_location%>" alt="<%=item.name%>">
                  <p class="item-title" value = "<%=item.difficulty%>" id = "<%=item.name%>" name="<%=item.name%>"><%=item.name%></p>
                </div>
              </li>
            </form>
          <%}%>
        </ul>
      <%}else{%>
        <p>I'm sorry it looks like there arn't any lessons on special moves yet.</p>
      <%}%>
    </ul>
  </div>
  <div class="category">
    <h2>Here are some other lessons that we have</h2>
    <ul>
      <% if(typeof other !== "undefined" && other.length != 0){%>
        <ul>
          <%for(let item of other){%>
            <form id="<%=item.name%>" action="/get_lessons" method="post"  style="display: inline;">
              <input type="hidden" name="id" value="<%=item.name%>">
              <li>
                <div class="item-box" onclick="submitForm(<%=item.name%>)">
                  <img src="<%=item.img_location%>" alt="<%=item.name%>">
                  <p class="item-title" value = "<%=item.difficulty%>" id = "<%=item.name%>" name="<%=item.name%>"><%=item.name%></p>
                </div>
              </li>
            </form>
          <%}%>
          </ul>
        <%}else{%>
          <p>I'm sorry it looks like there arn't any other lessons available.</p>
        <%}%>
    </ul>
  </div>
  <%-include('partials/foot.ejs')%>