<%-include('partials/website_tab_data.ejs')%>
<body>
  <%-include('partials/navbar.ejs')%>
  <form action="/train" method="post">
    <label for="option1">What are you wanting to train?</label>
    <select id="exercise_focus" value = "<%=type%>" name="exercise_focus">
      <option value="overall">Overall</option>
      <option value="Stretches">Stretches</option>
      <option value="Endurance">Endurance</option>
      <option value="Strength">Strength</option>
      
    </select>
    <label for="Location">Nice, are you in the Gym or at Home?</label>
    <select id="Location" name="Location">
      <option value="gym">Gym</option>
      <option value="home">Home</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <%-include('css/styling_for_learn')-%>
  <%-include('scripts/submit_form.ejs')%>
  <%if(workouts!=undefined){%>
  <div id="container">
    <div class="category">
      <h2>Suggested Workouts</h2>
      <% if(typeof workouts !=="undefined" && workouts.length != 0){%>
        <ul>
        <%for(let item of workouts){%>
          <form action="/calculate_workout" method="post" style="display: inline;" id="<%=item.name%>">
            <input type="hidden" name="id" value="<%=item.name%>">
            <li>
              <div class="item-box" value = "<%=item.difficulty%>" onclick="submitForm('<%=item.name%>')" style="background-image: url('/workouts/<%=item.name%>.png'); background-size: cover;">
                <p class="item-title" ><%=item.name%></p>
              </div>
            </li>
          </form>
        <%}%>
      </ul>
    <%}else{%>
      <p>I'm sorry it looks like we couldn't produce any Workouts meeting your criteria please try something else.</p>
    <%}%>
    </div>
    <%}%>
    <%if(stretches!=undefined){%>
    <div class="category">
      <h2>Stretches</h2>
      <ul>
        <% if(typeof stretches !== "undefined" && stretches.length != 0){%>
          <ul>
            <%for(let item of stretches){%>
              
              <form id="<%=item.name%>"  action="/calculate_workout" method="post"  style="display: inline;">
                <input type="hidden" name="id" value="<%=item.name%>"> 
                <li>
                  <div class="item-box" onclick="submitForm('<%=item.name%>')">
                    <img src="<%=item.img_location%>" alt="<%=item.name%>">
                    <p class="item-title" value = "<%=item.difficulty%>" id = "<%=item.name%>" name="<%=item.name%>"><%=item.name%></p>
                  </div>
                </li>
              </form>
            <%}%>
          </ul>
        <%}else{%>
          <p>I'm sorry it looks like there arn't any Stretches meeting your criteria please try something else.</p>
        <%}%>
      </ul>
    </div>
    <%}%>
    <%if(endurance!=undefined){%>
    <div class="category">
      <h2>Endurance</h2>
      <ul>
        <% if(typeof endurance !== "undefined" && endurance.length != 0){%>
          <ul>
            <%for(let item of endurance){%>
              
              <form id="<%=item.name%>"  name="<%=item.name%>" action="/calculate_workout" method="post"  style="display: inline;">
                <input type="hidden" name="id" value="<%=item.name%>"> 
                <li>
                  <div class="item-box" onclick="submitForm('<%=item.name%>')">
                    <img src="<%=item.img_location%>" alt="<%=item.name%>">
                    <p class="item-title" value = "<%=item.difficulty%>" id = "<%=item.name%>" name="<%=item.name%>"><%=item.name%></p>
                  </div>
                </li>
              </form>
            <%}%>
          </ul>
        <%}else{%>
          <p>I'm sorry it looks like there arn't any Endurance exercises meeting your criteria please try something else.</p>
        <%}%>
      </ul>
    </div>
    <%}%>
    <%if(strength!=undefined){%>
    <div class="category">
      <h2>Strength</h2>
      <ul>
        <% if(typeof strength !== "undefined" && strength.length != 0){%>
          <ul>
            <%for(let item of strength){%>
              
              <form id="<%=item.name%>"  name="<%=item.name%>" action="/calculate_workout" method="post"  style="display: inline;">
                <input type="hidden" name="id" value="<%=item.name%>"> 
                <li>
                  <div class="item-box" onclick="submitForm('<%=item.name%>')">
                    <img src="<%=item.img_location%>" alt="<%=item.name%>">
                    <p class="item-title" value = "<%=item.difficulty%>" id = "<%=item.name%>" name="<%=item.name%>"><%=item.name%></p>
                  </div>
                </li>
              </form>
            <%}%>
            </ul>
          <%}else{%>
            <p>I'm sorry it looks like there arn't any Strength exercises meeting your criteria please try something else.</p>
          <%}%>
      </ul>
    </div>
    <%}%>
    <%if(workouts!=undefined){%>
    <div class="category">
      <h2>New</h2>
      <ul>
        <% if(typeof new_items !== "undefined" && new_items.length != 0){%>
          <ul>
            <%for(let item of new_items){%>
              
              <form id="<%=item.name%>" name="<%=item.name%>" action="/calculate_workout" method="post"  style="display: inline;">
                <input type="hidden" name="id" value="<%=item.name%>"> 
                <li>
                  <div class="item-box" onclick="submitForm('<%=item.name%>')">
                    <img src="<%=item.img_location%>" alt="<%=item.name%>">
                    <p class="item-title" value = "<%=item.difficulty%>" id = "<%=item.name%>" name="<%=item.name%>"><%=item.name%></p>
                  </div>
                </li>
              </form>
            <%}%>
          </ul>
          <%}else{%>
            <p>I'm sorry it looks like there arn't any new exercises meeting your criteria please try something else.</p>
          <%}%>
      </ul>
    </div>
    <%}%>
  </div>
  <%-include('partials/foot.ejs')%>